
header {
    display: flex;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    background-color: darkred;
}

#sidebar {
    display: grid;
    background-color: orangered;
    height: 1000px;
    padding-left: 20px;
    grid-template-rows: 50px 50px 50px 50px;
    grid-gap: 10px;
}

#mainContent {
    display: grid;
    grid-template-columns: 1fr 9fr  ;
    
}

#DOMAreaContainer {
    background-color: lightgray;
    padding-left: 20px;
}

#addNewProjectContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#DOMArea {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 250px 250px 250px 250px;
    
}


#DOMArea div {
    border: solid black 5px;
    height: 225px;
    width: 225px;
    padding: 10px;
    margin: 5px;
}

#newTaskButton {
    background-color: grey;
    border: solid black 5px;
    height: 75px;
    width: 75px;
}

#high {
    background-color: red;
}

#medium {
    background-color: orange;
}

#low {
    background-color: green;
}

